.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.formulario button {
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #30475e;
  color: #fff;
}

.inputFormulario {
  display: flex;
  flex-direction: column;
}

.inputFormulario label {
  font-weight: bold;
}

.inputFormulario input {
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
}
