.contenedor {
  display: grid;
  grid-template-columns: 3fr 5fr;
  height: 100vh;
}

.seccion_formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  max-width: 600px;
  
}

.header h1 {
  color: #070f2b;
  text-align: center;
  font-weight: 600;
  text-align: center;
}

.contenedor_formulario {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.4rem;
}

.contenedor_formulario input {
  background-color: #f2f2f2;
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 0.4rem;
}

.grupo_input {
  display: flex;
  gap: 1rem;
}

.container_texto_footer_registrarse{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.container_texto_footer_registrarse p{
  color: #30475e;
  font-weight: 400;
}

.input_contraseña_registrarse {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding-right: 1rem;
}

.input_contraseña_registrarse button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.seccion_imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: auto;
  border-radius: 4px;
}